@model EventManager.Models.EventItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HostUUID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostUUID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
